doctype html
html
	head
			meta(charset='utf-8')
			meta(name='viewport' content='width=device-width, initial-scale=1')
			title Dark
			link(rel='stylesheet' href='/dark/public/dark.css')
			script(src='/dark/public/dark.pre.js')
	body#layout-fixed-1
		div#fixed-column.pl-1.pr-1.align-middle.d-flex.flex-column.justify-content-center
			a.h1.text-nowrap(href='/dark') Click to go back
			h2 Fixed column
			h2 750px wide
			h2 Thing 1
			h2 Thing 2
			h2 Thing 3
		div#main-column.bg-dark-10
			div.pl-1.section
				h2 Variable width column
				p.pl-2 This is the scrollable column.
				p.pl-2 At 750px the layout changes to a flex column.
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			div.pl-1.section
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
				p.pl-2 Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
			script(src='/dark/public/dark.js')
