.password-hide-1 ,
.password-hide-2 ,
.password-hide-3 ,
.password-hide-4 ,
.password-hide-5 ,
{
	padding-bottom : 0px ;
	div {
		.password {
			margin-bottom : auto ;
			margin-top : auto ;
		}
		.checkbox {
			margin : auto map-get($spacers , 1) ;
			flex-grow : 0 ;
			-webkit-appearance: none ;
			background : transparent ;
			border : 1px solid $checkbox-color ;
			display: inline-block;
			width : $checkbox-textbox-friend-size ;
			height : $checkbox-textbox-friend-size ;
			&:active, &:checked:active {
				background : $checkbox-color ;
			}
			&:checked {
				background : $checkbox-color ;
			}
		}
	}
	.confirm-password {
	}
}
